@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Contract Monthly Claim System</title>
    <link rel="stylesheet" href="Styles.css">
</head>
<body>
    <video autoplay muted loop id="background-video">
        <source src="Media/video1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <h1>Contract Monthly Claim System</h1>
    <p class="intro-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi incidunt aliquam esse iste sapiente ad fugiat temporibus? Nemo quaerat in itaque id nam, cum hic aspernatur, dolores, fuga sapiente alias!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea id doloremque, distinctio in cupiditate repellendus deleniti quam excepturi, dolores ipsum officia ut fugiat? Ab voluptas molestias aut dicta possimus eaque?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi fugit qui labore eaque laborum, iusto iste quae, esse dolore reprehenderit assumenda excepturi ullam, dolores vitae illo doloribus reiciendis maxime fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit saepe at voluptatibus? Rem, in itaque! Corporis fugit provident dolore? Mollitia, nulla sed. Dignissimos perspiciatis ducimus quidem et cupiditate nobis sit!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, deleniti? Aliquid reprehenderit facilis quaerat inventore! Temporibus, fugiat dolore, deserunt animi corporis eos quasi, eius aspernatur accusamus nulla dolorem perferendis repellendus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta inventore aperiam expedita possimus adipisci dolore maiores, quod dicta voluptates modi voluptatum minus quaerat recusandae nisi ullam suscipit iure beatae similique.
    </p>
    <div class="wrapper">
        <div class="card">
            <h2 class="card-title">What is the Contract Monthly Claim System?</h2>
            <p>
                The Contract Monthly Claim System is a web application that allows users to submit their monthly claims for the work they have done on a project. 
                The system will allow users to submit their claims and have them reviewed by the project manager. The project manager will then approve or reject the claim.
                The system will also allow users to view their past claims and the status of their current claim.
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">How do I submit a claim?</h2>
            <p>
                To submit a claim, you will need to log in to the system using your username and password. Once you are logged in, you will be able to submit a claim by 
                filling out the claim form with the required information. Once you have submitted the claim, it will be reviewed by the project manager.
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">How long does it take to process a claim?</h2>
            <p>
                The time it takes to process a claim will depend on the project manager and the complexity of the claim. In general, claims are processed within 1-2 weeks 
                of submission. If there are any issues with the claim, the project manager will contact you to resolve them.
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">How do I view the status of my claim?</h2>
            <p>
                To view the status of your claim, you will need to log in to the system using your username and password. Once you are logged in, you will be able to view 
                the status of your current claim as well as any past claims that you have submitted.
            </p>
        </div>
        <div class="card">
            <h2 class="card-title">How do I contact the project manager?</h2>
            <p>
                To contact the project manager, you can send an email to the project manager's email address. The project manager's email address will be provided to you 
                when you log in to the system.
            </p>
        </div>
    </div>

    <!-- Link to the JavaScript file -->
    <script src="script.js"></script>
</body>
</html>
